@font-face {
  font-family: "High Tide";
  src: url("../../css/fonts/high-tide/HighTide-Regular.ttf");
}
@font-face {
  font-family: "Cardo Regular";
  src: url("../../css/fonts/Cardo/Cardo-Regular.ttf");
}

.ap {
  min-height: 100vh;
  color: #fffaeb;
  background-color: #070a0e;
  cursor: url("../../css/images/cursor-pointer.png") 0 0, pointer;
}
.header {
  padding: 1.5%;
}
a:hover {
  cursor: url("../../css/images/cursor-link.png") 0 0, pointer;
}
h1.pageTitle {
  font-family: "High Tide";
  font-size: 400%;
  font-weight: 200;
  display: inline-block;
  width: 75%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
div.li {
  display: inline-block;
  width: 24%;
  padding: 0;
  margin: 0;
}
img.li {
  width: 24%;
  margin: 0;
  padding: 0;
  float: right;
  vertical-align: top;
  
}
div.musicContent {
  padding-top: 1.5%;
  font-family: "Cardo Regular";
}
div.album {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  padding: 0.625%;
}
h1.albumTitle {
  font-size: 75%;
  text-align: center;
  width: 90%;
  display: inline-block;
}
div.button{
  width: 10%;
  display: inline-block;
}
p.note {
  letter-spacing: 1px;
  font-style: italic;
}
div.listen{
  text-align: center;
}
.listen img{
  width: 15%;
  padding: 2.5%;
  margin: 0;

}
@media only screen and (max-width: 1000px) {
  div.album {
    width: 23%;
    display: inline-block;
    vertical-align: top;
    padding: 1%;
  }
  img.li {
    width: 40%;
  }
  
}
@media only screen and (max-width: 600px) {
  div.album {
    width: 45%;
    padding: 2.5%;
  }
  h1.pageTitle {
    font-size: 300%;
  }
  img.li {
    width: 60%;
  }
}
@media only screen and (max-width: 300px) {
  div.album {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  h1.pageTitle {
    font-size: 100%;
  }
}