div.experimentPost {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}
.post_image {
  width: 50%;
  display: inline-block;
}

div.expBody {
  width: 100%;
  text-align: left;
}
.expBody h2 {
  text-align: left;
  border: 0;
  padding-top: 2%;
  line-height: 12px;
}
.postImage {
  text-align: center;
}
.image {
  width: 75%;
}
