@font-face {
  font-family: "GlacialIndifference";
  src: url("./fonts/glacial-indifference/GlacialIndifference-Bold.otf");
}

body {
  margin: 0;
  font-family: "GlacialIndifference";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f3e3;

  font-family: masqualero, sans-serif;

  font-weight: 300;

  font-style: normal;

  cursor: url("../css/images/cursor-dot.png") 8 8, pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a:hover {
  cursor: url("../css/images/cursor-select.png") 8 8, pointer;
}
div.cookiebanner > span {
  font-family: masqualero, sans-serif;
  width: 80%;
  font-size: 150%;
  padding-top: 25%;
}
div.cookiebanner {
  margin: 1%;
  border-radius: 2px;
}
@media only screen and (max-width: 1000px) {
  div.cookiebanner > span {
    font-family: masqualero, sans-serif;
    width: 90%;
  }
}
