@font-face {
  font-family: "GlacialIndifference";
  src: url("./fonts/glacial-indifference/GlacialIndifference-Bold.otf");
}

body {
  margin: 0;
  font-family: "GlacialIndifference";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f0f0;

  font-family: minerva-modern, sans-serif;

  font-weight: 400;

  cursor: url("../css/images/cursor-arrow.png") 20 20, pointer;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
