@font-face {
  font-family: "GlacialIndifference";
  src: url("./fonts/glacial-indifference/GlacialIndifference-Bold.otf");
}
@font-face {
  font-family: "Agrandir-GrandHeavy";
  src: url("./fonts/Agrandir/Agrandir-GrandHeavy.otf");
}
@font-face {
  font-family: "Agrandir-GrandLight";
  src: url("./fonts/Agrandir/Agrandir-GrandLight.otf");
}
@font-face {
  font-family: "Agrandir-Narrow";
  src: url("./fonts/Agrandir/Agrandir-Narrow.otf");
}
@font-face {
  font-family: "Agrandir-Regular";
  src: url("./fonts/Agrandir/Agrandir-Regular.otf");
}
@font-face {
  font-family: "Agrandir-WideLight";
  src: url("./fonts/Agrandir/Agrandir-WideLight.otf");
}
@font-face {
  font-family: "Agrandir-TextBold";
  src: url("./fonts/Agrandir/Agrandir-TextBold.otf");
}
@font-face{
  font-family: "Culture";
  src: url("./fonts/Culture/Culture.otf");
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F4F4;

  font-family: "Agrandir-Regular";
  
  font-weight: 500;

  font-style: normal;
  color:#59493B;

  cursor: url("../css/images/cursor-dot.png") 8 8, pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a:hover {
  cursor: url("../css/images/cursor-select.png") 8 8, pointer;
}
div.cookiebanner > span {
  font-family: masqualero, sans-serif;
  width: 80%;
  font-size: 150%;
  padding-top: 25%;
}
div.cookiebanner {
  margin: 1%;
  border-radius: 2px;
}
@media only screen and (max-width: 1000px) {
  div.cookiebanner > span {
    font-family: masqualero, sans-serif;
    width: 90%;
  }
}
