.App {
  padding-top: 0;
  align-self: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.homeNav {
  width: 40%;
  display: inline-block;
  font-size: 32px;
  margin-left: 5%;
  margin-right: 5%;
}

.homeNav h1 {
  text-align: left;
  font-weight: 200;
}

.genNav {
  width: 60%;
  font-size: 32px;
  display: inline-block;
}

.genNav a {
  display: inline-block;
  padding: 5%;
  text-decoration: underline;
  color: black;
}

.laurence {
  letter-spacing: 2px;
}

.bugasu {
  letter-spacing: 19px;
}

h1.write {
  font-size: 48px;
  font-family: masqualero, sans-serif;
  font-weight: 900;
  font-style: normal;
  padding-bottom: 0;
  margin-bottom: 0;
}

h2.write {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: masqualero, sans-serif;

  font-weight: 300;
}

#thoughts {
  font-family: masqualero, sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}

button#sendButton {
  background-color: black;
  display: block;
  height: 5%;
  color: white;
  font-family: masqualero, sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  border-radius: 5px;
}

div.send {
  text-align: center;
  display: inline-block;
}

div.g-recaptcha {
  align-items: center;
  width: 1px solid gold;
  display: inline-block;
}

#right {
  text-align: right;
}

.sending {
  text-align: center;
}

.homeNav a {
  text-decoration: underline;
  color: black;
  font-size: 28px;
}

.homeNav a:hover {
  text-decoration: line-through;
}

.homeNav a:visited {
  color: black;
}

.frontImage {
  width: 100%;
  text-align: left;
  vertical-align: top;
}

img {
  width: 100%;
}

div.WriteToMe {
  align-content: center;
}

div.outerBox {
  width: 70%;
  padding: 5%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

div.years {
  width: 15%;
  padding-right: 5%;
  display: inline-block;
  text-align: right;
}

h2 {
  text-align: right;
  padding-right: 25%;
  line-height: 500%;
}

.lb {
  font-size: 48px;
  display: inline-block;
  margin: 0;
  padding-right: 2.5%;
  display: inline-block;
}

.genNameHead {
  font-size: 48px;
}

h1.lb {
  border: solid 2px black;
  border-radius: 1%;
  font-size: 56px;
  letter-spacing: 6px;
  padding: 10%;
}

.pageTitle {
  width: 35%;
  display: inline-block;
  font-size: 32px;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 150%;
}

.menu {
  width: 20%;
  display: inline-block;
  text-align: right;
}

img.menuButton {
  width: 30%;
  height: 30%;
  vertical-align: bottom;
}

div.navBar {
  width: 100%;
  display: inline-flex;
  border-top: 0;
  margin-top: 0;
  text-align: center;
  float: rigjt;
}
div.navBar2 {
  width: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: text-bottom;
}

div.topmost {
  vertical-align: top;
  padding-left: 2.5%;
  margin: 0;
  padding-top: 0;
}

div.menuitem {
  width: 25%;
  display: inline-block;
  font-size: 40px;
}

.menuitem a {
  text-decoration: none;
  color: black;
}

hr.menuLines {
  width: 90%;
  height: 2px;
  background-color: black;
  border: none;
}

hr.feat {
  width: 95%;
  height: 1px;
  background-color: black;
  border: none;
}

.footerSection {
  width: 25%;
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
  text-align: left;
}

.footerSection a {
  display: block;
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
}

a.lb {
  text-decoration: none;
  color: black;
}

/* h1.lb:hover {
  background-color: black;
} */
hr.footerLines {
  height: 2px;
  background-color: black;
  border: none;
}

.footer {
  margin: 5%;
}

div.content {
  width: 70%;
  padding-left: 2.5%;
  display: inline-block;
  vertical-align: top;
}

div.playlist {
  width: 25%;
  display: inline-block;
  border-left: solid 1px black;
  vertical-align: top;
}

h2.playlist {
  padding-left: 15%;
  margin: 0;
  padding-top: 0;
  text-align: left;
}

.playlist iframe {
  padding: 2.5%;
}

.post_image {
  width: 50%;
  display: inline-block;
}

.postContent {
  width: 100%;
  display: inline-block;
  font-size: 20px;
}

.postPreview {
  font-size: 16;
}

a.mainSection {
  font-style: normal;
  color: black;
  text-decoration: none;
}

a.mainSection:hover {
  color: grey;
}

em.subSection {
  font-style: normal;
  color: grey;
}

div.postFrame {
  display: inline-block;
  width: 20%;
  padding: 2.5%;
  vertical-align: top;
}

a.preview {
  text-decoration: none;
  color: black;
}

div.featureContent {
  padding: 2%;
}

a.preview:hover {
  text-decoration: gray;
  color: grey;
}

div.feature {
  padding: 2.5%;
  display: inline-block;
  vertical-align: top;
}

div.featureTitle {
  display: inline-block;
  width: 70%;
}

div.featuredimage {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

div.posts {
  display: inline-block;
}

h1.featureTitle {
  padding: 0;
  border: 0;
}

h1.feature {
  margin: 0;
}

div.miniFeatureOne {
  width: 45%;
  display: inline-block;
  padding: 1%;
}

div.miniFeatureTwo {
  width: 30%;
  display: inline-block;
  padding: 2.5%;
}

h3.featureTitle {
  padding-left: 15%;
  text-align: left;
  color: #258309;
}

@media only screen and (max-width: 1000px) {
  div.worknotes {
    width: 100%;
    font-size: 50%;
  }
  div.pageTitle {
    width: 65%;
    text-align: center;
  }

  div.lb {
    width: 30%;
    display: inline-block;
  }

  div.worknotes h1 {
    font-size: 24px;
  }

  h1.word {
    letter-spacing: 5px;
  }
  div.navBar2 {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .homeNav {
    display: block;
    width: 100%;
  }
  div.navBar2 {
    width: 100%;
  }
  .laurence {
    font-size: 100%;
    text-align: center;
  }

  #right {
    text-align: center;
  }

  .homeNav h1 {
    font-size: 200%;
  }

  textarea {
    width: 90%;
  }

  .navBar2 {
    width: 100%;
  }
  div.postFrame {
    width: 45%;
  }

  .footerSection {
    width: 50%;
  }

  div.menuitem {
    width: 50%;
  }

  div.playlist {
    width: 95%;
    display: block;
  }

  div.content {
    width: 95%;
  }
}

.current {
  width: 40%;
  display: inline-block;
  text-align: left;
  padding: 2%;
  vertical-align: top;
}

.current h2 {
  text-align: center;
}

#left {
  border-right: black solid 1px;
}

div.worknotes {
  margin: 0;
  padding: 0;
}

.worknotes h1 {
  margin: 0;
  padding: 0;
  font-size: 64px;
  font-family: masqualero-groove, sans-serif;
  font-stretch: narrower;
  font-weight: 400;

  font-style: normal;
}

.side {
  width: 30%;
  display: inline-block;
  border-right: 1px solid black;
  vertical-align: top;
}

.main {
  width: 60%;
  display: inline-block;
  padding: 2.5%;
}

.letter {
  padding-right: 64px;
  letter-spacing: normal;
}

.invisible {
  opacity: 0%;
}

.word {
  letter-spacing: 12px;
}

.kazimoja {
  width: 100%;
  border: 1.5px solid black;
}

.kazimoja hr {
  border: none;
  height: 1.5px;
  color: #333;
  /* old IE */
  background-color: #333;
  /* Modern Browsers */
}

.kazimoja img {
  width: 87.5%;
}

br.split {
  padding-top: 10%;
}

.mainStuff {
  padding-top: 3%;
}

.notfound {
  line-height: 24px;
  vertical-align: middle;
  font-weight: 300;
}
div.singlePost {
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.5%;
}
div.postBody {
  width: 90%;
  align-self: auto;
}
