.App {
  padding-top: 0;
  align-self: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: black;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  background: #f8f3e3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background: grey;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.homeNav {
  width: 40%;
  display: inline-block;
  font-size: 100%;
  margin-left: 5%;
  margin-right: 5%;
  
  
}

.homeNav h1 {
  text-align: left;
  font-weight: 200;
}
.experimentsMenu {
  width: 30%;
  font-size: 28px;
  display: inline-block;
  text-align: right;
}
.experimentsMenu a {
  display: inline-block;
  padding: 5%;
  text-decoration: none;
  color: black;
}
.genNav {
  width: 60%;
  font-size: 32px;
  display: inline-block;
}

.genNav a {
  display: inline-block;
  padding: 5%;
  text-decoration: underline;
  color: black;
}

.laurence {
  color: #D9D9D9;
  letter-spacing: 2px;
}

.bugasu {
  letter-spacing: 10px;
}

h1.write {
  font-size: 48px;
  font-family: masqualero, sans-serif;
  font-weight: 900;
  font-style: normal;
  padding-bottom: 0;
  margin-bottom: 0;
}

h2.write {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: masqualero, sans-serif;

  font-weight: 300;
}

#thoughts {
  font-family: masqualero, sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}

button#sendButton {
  background-color: black;
  display: block;
  height: 5%;
  color: white;
  font-family: masqualero, sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  border-radius: 5px;
}
.experimentsHeader {
  width: 40%;
  display: inline-block;
  font-size: x-large;

  text-align: center;
}
.experimentsHeader h1 {
  width: 70%;
  display: inline-block;
}
.experimentsHeader img {
  width: 15%;
  vertical-align: text-bottom;
}
div.send {
  text-align: center;
  display: inline-block;
}

div.g-recaptcha {
  align-items: center;
  width: 1px solid gold;
  display: inline-block;
}

#right {
  text-align: right;
}

.sending {
  text-align: center;
}

.homeNav a {
  text-decoration: none;
  color: #D9D9D9;
  font-size: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
div.headMenu{
  background-color: #382A40;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.homeNav a:hover {
  text-decoration: line-through;
}

.homeNav a:visited {
  color: #D9D9D9;
}

.frontImage {
  width: 100%;
  text-align: left;
  vertical-align: top;
}

img {
  width: 100%;
}

div.WriteToMe {
  align-content: center;
}

div.outerBox {
  width: 70%;
  padding: 5%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
div.privacy-policy {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
}
.privacy-policy h2 {
  text-align: left;
}
.privacy-policy h1 {
  text-decoration: underline;
}
div.years {
  width: 15%;
  padding-right: 5%;
  display: inline-block;
  text-align: right;
}

div.year:hover {
  color: gray;
}
h2 {
  text-align: right;
  padding-right: 10%;
  line-height: 500%;
}

.lb {
  font-size: 48px;
  display: inline-block;
  margin: 0;
  padding-right: 2.5%;
  display: inline-block;
}

.genNameHead {
  font-size: 48px;
}
h1.experimentz {
  font-size: 100%;
  font-weight: 300;
}
h1.lb {
  border: solid 2px black;
  border-radius: 1%;
  font-size: 56px;
  letter-spacing: 6px;
  padding: 10%;
}

.pageTitle {
  width: 35%;
  display: inline-block;
  font-size: 32px;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 150%;
}

.menu {
  width: 20%;
  display: inline-block;
  text-align: right;
}

img.menuButton {
  width: 30%;
  height: 30%;
  vertical-align: bottom;
}

div.navBar {
  width: 100%;
  display: inline-flex;
  border-top: 0;
  margin-top: 0;
  text-align: center;
  float: rigjt;
}
div.navBar2 {
  width: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: text-bottom;
}

div.topmost {
  vertical-align: top;
  padding-left: 2.5%;
  margin: 0;
  padding-top: 0;
}
div.lau {
  width: 25%;
  display: inline-block;
}

div.menuitem {
  width: 25%;
  display: inline-block;
  font-size: 40px;
}

.menuitem a {
  text-decoration: none;
  color: black;
}

hr.menuLines {
  width: 90%;
  height: 2px;
  background-color: black;
  border: none;
}

hr.feat {
  width: 95%;
  height: 1px;
  background-color: black;
  border: none;
}

.footerSection {
  width: 25%;
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
  text-align: left;
}

.footerSection a {
  display: block;
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
}

a.lb {
  text-decoration: none;
  color: black;
}

/* h1.lb:hover {
  background-color: black;
} */
hr.footerLines {
  height: 2px;
  background-color: black;
  border: none;
}

.footer {
  margin: 5%;
}

div.content {
  width: 70%;
  padding-left: 2.5%;
  display: inline-block;
  vertical-align: top;
}

div.playlist {
  width: 25%;
  display: inline-block;
  border-left: solid 1px black;
  vertical-align: top;
}

h2.playlist {
  padding-left: 15%;
  margin: 0;
  padding-top: 0;
  text-align: left;
}

.playlist iframe {
  padding: 2.5%;
}

.postContent {
  width: 100%;
  display: inline-block;
  font-size: 20px;
}

.postPreview {
  font-size: 16;
}

a.mainSection {
  font-style: normal;
  color: black;
  text-decoration: none;
}

a.mainSection:hover {
  color: grey;
}

em.subSection {
  font-style: normal;
  color: grey;
}

div.postFrame {
  display: inline-block;
  width: 20%;
  padding: 2.5%;
  vertical-align: top;
}

a.preview {
  text-decoration: none;
  color: black;
}

div.featureContent {
  display: inline-block;
  width: 70%;
  margin-left: 2.5%;
}

a.preview:hover {
  text-decoration: gray;
  color: grey;
}

div.feature {
  padding-left: 2.5%;
  padding-bottom: 2.5%;
  display: inline-block;
  vertical-align: top;
}

.feature small {
  display: block;
  text-decoration: underline;
}
div.featuredimage {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  box-shadow: 5px 10px grey;
}
img.featuredImage {
  width: 100%;
}
.featuredimage img {
  width: 100%;
}
div.posts {
  display: inline-block;
}

h1.featureTitle {
  padding: 0;
  border: 0;
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: normal;
}
h3.miniFeaturetitle {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: normal;
}
h1.feature {
  margin: 0;
}

div.miniFeatureOne {
  width: 45%;
  display: inline-block;
  padding: 1%;
  vertical-align: top;
}
.miniFeatureOne img {
  width: 50%;
}
.miniFeatureOne small {
  display: block;
}
div.miniFeatureTwo {
  width: 30%;
  display: inline-block;
  padding: 2.5%;
}

h3.featureTitle {
  padding-left: 15%;
  text-align: left;
  color: #258309;
}
.current {
  width: 40%;
  display: inline-block;
  text-align: left;
  padding: 2%;
  vertical-align: top;
}

.current h2 {
  text-align: center;
}

#left {
  border-right: black solid 1px;
}

div.worknotes {
  margin: 0;
  padding: 0;
  text-align: center;
}

.worknotes h1 {
  margin: 0;
  padding: 0;
  font-size: 64px;
  font-family: masqualero-groove, sans-serif;
  font-stretch: narrower;
  font-weight: 400;

  font-style: normal;
}

.side {
  width: 30%;
  display: inline-block;

  vertical-align: top;
}

.main {
  width: 60%;
  display: inline-block;
  padding: 2.5%;
  border-left: 1px solid black;
}

.letter {
  padding-right: 64px;
  letter-spacing: normal;
}

.invisible {
  opacity: 0%;
}

.word {
  letter-spacing: 12px;
}
div.work{
  margin-left: 5%;
  flex-wrap: wrap;
  align-content: center;
}

div.kazimoja {
  vertical-align: top;
  width: 40%;
  display: inline-block;
  border: 1px solid #382A40;
  text-align: center;
  margin:2.5%;
}
.kazimoja hr {
  border: none;
  height: 1.5px;
  color: #333;
  /* old IE */
  background-color: #333;
  /* Modern Browsers */
}
.kazimoja p {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

.kazimoja img {
  width: 80%;
}

br.split {
  padding-top: 10%;
}

.mainStuff {
  padding-top: 3%;
}

.notfound {
  line-height: 24px;
  vertical-align: middle;
  font-weight: 300;
}
div.notfound {
  text-align: center;
}
div.singlePost {
  align-self: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2.5%;
}

div.postBody {
  width: 90%;
  align-self: auto;
}
div.elements {
  text-align: center;
}

div.expMenu {
  width: 19%;
  display: inline-block;
  border-right: dotted 1px black;
  height: 80vh;
  vertical-align: top;
}
.element {
  width: 3.5%;
  display: inline-block;
  padding: 4%;
}
div.selected {
  text-decoration: line-through;
  color: gray;
}
div.writeBody {
  text-align: center;
}
div.ecstasy {
  text-align: justify;
  width: 40%;
  margin: 2.5%;
  display: inline-block;
  border: 1px solid grey;
  box-shadow: 5px 10px grey;
  padding: 1%;
}
iframe.ecstasy {
  width: 100%;
  border: 0;
}
.ecstasy p {
  text-align: center;
  font-size: large;
}

div.project {
  width: 40%;
  margin: 2.5%;
  display: inline-block;
  border: 1px solid grey;
  box-shadow: 5px 10px grey;
  padding: 2%;
  vertical-align: top;
}
.project img {
  width: 70%;
}

.project small {
  display: block;
}
div.projectDescription {
  text-align: justify;
}

div.description{
  padding-top: 2%;

  padding-left: 5%;
  /* padding-right: 5%; */
  width: 50%;
  display: inline-block;
}
div.desc2{
  padding: 5%;
}
h2.description{
  text-align: left;
  font-size: 100%;
}
p.description{
  font-size: 125%;
}
.skills h3{
  padding: 0;
  margin: 0;
}
div.more{
  display: inline-block;
  font-size: 125%;
  width: 50%;
}
div.skills{
  width: 33%;
  margin-left:5%;
  display: inline-block;
  vertical-align: top;
}
.skills p{
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
p.poem{
  text-align:center;
  font-style: italic;
}
div.profileImage{
  width: 30%;
  padding-left: 10%;
  display: inline-block;
  vertical-align: top;
}
hr.homeHr{
  width: 60%;
}
.description a{
  text-decoration: none;
}
img.profile{
  padding-top: 5%;
  float:left;
}
@media only screen and (max-width: 1000px) {
  div.worknotes {
    width: 100%;
    font-size: 50%;
  }
  div.miniFeatureOne img {
    width: 100%;
  }
  div.experimentsMenu {
    width: 100%;
    text-align: center;
  }
  div.experimentsHeader {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  h1.experimentz {
    font-size: 75%;
  }
  .experimentsHeader h1 {
    width: 60%;
    line-height: 0;
    font-size: 150%;
  }
  .experimentsHeader img {
    width: 10%;
  }
  div.lau {
    width: 100%;
    text-align: center;
    font-size: 50%;
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  .lau h1.lb {
    font-size: 100%;
  }
  div.pageTitle {
    width: 65%;
    text-align: center;
    font-size: 100%;
  }

  div.lb {
    width: 30%;
    display: inline-block;
  }

  h1.lb {
    font-size: 100%;
    margin-top: 10%;
    padding-top: 5%;
  }
  div.worknotes h1 {
    font-size: 24px;
  }

  h1.word {
    letter-spacing: 5px;
  }
  div.navBar2 {
    width: 100%;
  }
  div.featuredimage {
    display: block;
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  div.ecstasy,
  div.project {
    width: 90%;
    display: block;
  }
  .homeNav {
    display: block;
    width: 100%;
  }
  div.profileImage{
    width: 90%;
  padding-left: 5%;

  }
  div.skills{
    width: 100%;
  }
  div.description{
    width: 100%;
  }
  div.more{
    width: 100%;
  }
  div.element {
    width: 10%;
    padding: 10%;
  }
  div.navBar2 {
    width: 100%;
  }
  .laurence {
    font-size: 100%;
    text-align: center;
  }
  .genNav {
    width: 100%;
  }
  #right {
    text-align: center;
  }
  h1.laurence {
    width: 100%;
    text-emphasis: center;
    font-size: 200%;
  }

  textarea {
    width: 90%;
  }

  .navBar2 {
    width: 100%;
  }
  div.postFrame {
    width: 45%;
  }

  .footerSection {
    width: 50%;
  }

  div.menuitem {
    width: 50%;
  }

  div.playlist {
    width: 95%;
    display: block;
  }

  div.content {
    width: 95%;
  }
}
